<!DOCTYPE html>
<html>
<head>
  <title>Recipes</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<% if !flash[:error].nil? %>
<div id="error_explanation">
  <h2><%= flash[:error] %></h2>
</div>
<% end %>
<%= yield %>

</body>
</html>
