<!DOCTYPE html>
<html>
  <head>
    <title>Recipes</title>
    <%= stylesheet_link_tag    "application" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <div id="page">
      <div id="header">
        <h1 id="title">Ziperski Cookbook</h1>
        <% if logged_in? %>
        <div id="actions">
          <span>Welcome, <%= current_user.fl_name %></span> | 
          <%= link_to 'Account', edit_user_path(current_user) %> | 
          <%= link_to 'Logout', '/logout' %>
        </div>
        <% end %>
      </div>
      <% if !flash[:error].nil? %>
      <div id="error_explanation">
        <h2><%= flash[:error] %></h2>
      </div>
      <% end %>
      <%= yield %>
    </div>
  </body>
</html>
